<h1>This is the Model's index page.</h1>

<h1>Welcome, <%= current_user.username if current_user %> </h1>

<h2>Here are your recently saved bills:</h2>

<a href="/bills/new">Add A New bill</a>
<br>
<br>
