<div class="container receipt" style="width:400px;">

  
   
         
      </div>

      <h1><span class="glyphicon glyphicon-user"></span> User Profile Updated</h1>
      <hr>
      
      <h2> Your profile has been updated for:</h2>
      <h3>Username: <%= current_user.username %></h3>
      
      When you log in again, you will need to use your new credentials to login.</p>
     
     
      <a href="/bills"><span class="glyphicon glyphicon-th-list"></span> View Bills</a>

